
data/
data/*


!data/lfw/
!data/lfw/pairs.txt
!data/lfw/*.txt


ckpt/
*.pth
*.pt


*.log
logs/
log/
runs/

__pycache__/
*.pyc
*.pyo


.venv/
env/
venv/
*.env


.DS_Store
Thumbs.db

data/split/
split/
split_dataset/


*.rec
*.idx
